html {
  font-size: 16px;
  font-family: proxima-nova;
}

header {
  background-color: transparent;
  height: 7.625rem;
  height: 8.472vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

body {
  margin: 0px;
}

a {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.125rem;
  font-size: 1.25vw;
  color: white;
}

/* LOGO PART OF NAVIGATION BAR */
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3.75rem;
  padding-left: 5.5vw;
}

.header-logo img {
  height: auto;
  width: 84%;
  width: 25.27vw;
}

/* NAV ITEMS */
nav {
  padding-right: 40px;
}

nav span {
  margin-right: 1.5rem;
  margin-right: 1.66vw;
}

.nav-hover:hover {
  color: #E5E5E5;
}

.log-in {
  padding: 11px 36px;
  padding: .694vw 2.5vw;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
}

.log-in:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.sign-up {
  color: white;
  font-weight: bold;
  padding: 11px 36px;
  padding: .7638vw 2.5vw;
  background-image: linear-gradient(44deg, #f04c23, #f2b031);
  border-radius: 4px;
}

.sign-up:hover {
  background-image: linear-gradient(44deg, #fd5025, #FFB93C);
}

.sign-up:active {
  background-image: linear-gradient(44deg, #D6441F, #D89D2C);
}

/* BACKGROUND */
.hero-image {
  background: url(../assets/backgrounds/features-background.png) no-repeat center;
  background-size: contain;
  background-position: top;
  height: 610px;
  height: 42.361vw;
  width: 100%;
  position: relative;
}

/* HERO TEXT */
.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 104px;
  margin-top: 5.22vw;
}

.hero-text h1 {
  font-size: 45px;
  font-size: 3.125vw;
  color: #FFFFFF;
  font-weight: bold;
}

/* PRICING CARD STYLING */
.hero-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1032px;
  width: 71.6666vw;
  height: 425px;
  height: 29.5138vw;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin-top: 60px;
  margin-top: 4.16vw;
  border-radius: 4px;
  box-shadow: 0 16px 24px 0 rgba(48,49,51,0.1);
}

.item-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 905px;
  width: 62.8472vw;
  height: 232px;
  height: 16.11vw;
  padding: 48px 64px 0px 64px;
  padding: 3.33vw 4.44vw 0vw 4.44vw;
  margin-bottom: 36px;
  margin-bottom: 2.5vw;
}

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  width: 12.5vw;
  height: auto;
  margin-bottom: 48px;
  margin-bottom: 3.33vw;
}

.feature-item img {
  height: 54px;
  height: 3.75vw;
  width: 54px;
  width: 3.75vw;
}

.feature-item h2 {
  color: #01435C;
  font-size: 32px;
  font-size: 2.22vw;
  font-weight: bold;
  text-align: center;
  width: 230px;
  width: 18vw;
  margin-top: 16px;
  margin-top: 1.11vw;
}

.feature-item h3 {
  color: #364347;
  width: 618px;
  width: 42.916vw;
  text-align: center;
  font-size: 24px;
  font-size: 1.66vw;
  padding-top: 24px;
  line-height: 35px;
  line-height: 2.4305vw;
}

/* HERO CARD BUTTON STYLING */
.hero-card a {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  height: 45px;
  height: 3.125vw;
  width: 288px;
  color: white;
  font-size: 16px;
  font-size: 1.11vw;
  border-radius: .25rem;
  border-radius: .277vw;
  margin-bottom: 68px;
  margin-bottom: 4.72vw;
  font-weight: bold;
  background-image: linear-gradient(44deg, #f04c23, #f2b031);
  letter-spacing: .5px;
}

.hero-card a:hover {
  background-image: linear-gradient(44deg, #fd5025, #FFB93C);
}

.hero-card a:active {
  background-image: linear-gradient(44deg, #fd5025, #FFB93C);
}
