/* Universal Styles */
@media only screen and (min-width: 430px) {
  .mobile-hero {
    display: none;
  }

  html {
    font-size: 16px;
    font-family: proxima-nova;
  }

  header {
    background-color: transparent;
    height: 7.625rem;
    height: 8.472vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  body {
    margin: 0px;
  }

  a {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125rem;
    font-size: 1.25vw;
    color: white;
  }

  /* LOGO PART OF NAVIGATION BAR */
  .header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3.75rem;
    padding-left: 5.5vw;
  }

  .header-logo img {
    height: auto;
    width: 84%;
    width: 25.27vw;
  }

  /* NAV ITEMS */
  nav {
    padding-right: 40px;
  }

  nav span {
    margin-right: 1.5rem;
    margin-right: 1.66vw;
  }

  .nav-hover:hover {
    color: #E5E5E5;
  }

  .log-in {
    padding: 11px 36px;
    padding: .694vw 2.5vw;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
  }

  .log-in:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .sign-up {
    color: white;
    font-weight: bold;
    padding: 11px 36px;
    padding: .7638vw 2.5vw;
    background-image: linear-gradient(44deg, #f04c23, #f2b031);
    border-radius: 4px;
  }

  .sign-up:hover {
    background-image: linear-gradient(44deg, #fd5025, #FFB93C);
  }

  .sign-up:active {
    background-image: linear-gradient(44deg, #D6441F, #D89D2C);
  }

  /* BACKGROUND */
  .hero-image {
    background: url(../assets/backgrounds/Hero.png) no-repeat center;
    background-size: contain;
    background-position: top;
    height: auto;
    width: 100%;
    position: relative;
  }

  .hero-content {
    display: flex;
    flex-wrap: nowrap;
  }

  /* HERO IMAGE */
  .left-column-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    /* height: 800px; */
    /* padding-left: 40px; */
    padding-top: 25px;
  }

  .hero-image-left {
    padding-top: 50px;
  }

  .hero-image-left img {
    width: 100%;
    height: auto;
    padding-left: 7%;
  }

  /* HERO TEXT */
  .right-column-hero {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    width: 50%;
    height: 100%;
  }

  /* HERO TEXT SPACING */
  .hero-text-box {
    width: 72%;
    margin-left: 30px;
    margin-left: 2.083vw;
    margin-top: .875rem;
    margin-top: .972vw;
  }

  /* HERO H1 */
  .hero-h1 {
    font-size: 4.5rem;
    font-size: 5vw;
    font-weight: bold;
    color: white;
    line-height: 1;
    text-align: left;
  }

  .hero-h1 span {
    color: #f04c23;
  }

  /* HERO H2 */
  .hero-h2 {
    font-size: 24px;
    font-size: 1.67vw;
    line-height: 1.1;
    font-weight: 400;
    color: white;
    padding-top: 2rem;
    padding-top: 2.22vw;
    margin-bottom: 32px;
    margin-bottom: 2.22vw;
  }

  .button-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
  }

  .button-box a {
    padding: 11px 36px;
    padding: .7638vw 2.5vw;
    background-image: linear-gradient(44deg, #f04c23, #f2b031);
    border-radius: 4px;
  }

  .button-box a:hover {
    background-image: linear-gradient(44deg, #fd5025, #FFB93C);
  }

  .button-box a:active {
    background-image: linear-gradient(44deg, #D6441F, #D89D2C);
  }

  .hero-button {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    font-size: 1.11vw;
    letter-spacing: 1px;
    letter-spacing: .069vw;
  }

  /* FEATURES GRID */
  .features-grid h2 {
    color: #01435c;
    font-weight: bold;
    font-family: proxima-nova;
    font-size: 48px;
    font-size: 3.335vw;
    line-height: 58px;
    text-align: center;
    margin: 4rem auto 2.5rem auto;
    margin: 4.44vw auto 2.77vw auto;
  }

  .features-grid {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }

  .features-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    margin-bottom: 4.44vw;
  }

  .feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .feature img {
    height: 6.94vw;
  }

  .feature h3 {
    font-size: 24px;
    font-size: 1.667vw;
    color: #01435c;
    text-align: center;
    line-height: 1.3;
    padding-top: .75rem;
    padding-top: .833vw;
    width: 60%;
  }

  .all-features-button {
    text-align: center;
    margin: 0rem auto 9rem auto;
    margin: 0 auto 10vw auto;
    font-size: 1rem;
    font-size: 1.11vw;
    padding: 1.25rem 9rem;
    padding: 1.388vw 10vw;
    color: #50b99f;
    border: solid 1px #50b99f;
    border-radius: .25rem;
    border-radius: .277vw;
  }

  .all-features-button:hover {
    background-color: rgba(215, 217, 218, 0.33);
    border: 1px solid #5E696C;
  }

  /* SCREENSHOT SECTION OF THE SITE WITH ROCKETS! */
  .bidrocket-screen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%
  }

  .screenshot-description {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 50%;
    /* padding-left: 6rem; */
  }

  .screenshot-description-alt {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 50%;
    align-items: flex-end;
  }

  .screenshot-text-container h2 {
    font-size: 2rem;
    font-size: 2.4vw;
    font-weight: bold;
    line-height: 1.1;
    color: #01435c;
    width: 55%;
    margin-bottom: 2rem;
    margin-bottom: 4.5%;
  }

  .screenshot-text-container-alt h2 {
    font-size: 2rem;
    font-size: 2.4vw;
    font-weight: bold;
    line-height: 1.1;
    color: #01435c;
    width: 58%;
    margin-bottom: 2rem;
    margin-bottom: 4.5%;
  }

  .button-container {
    margin-top: 2.5rem;
    margin-top: 2.77vw;
  }

  .screenshot-text-container .button-container a h3, .screenshot-text-container-alt a h3 {
    font-size: 20px;
    font-size: 1.388vw;
    text-align: center;
    color: white;
    padding: 1.25rem 5.8675rem;
    padding: 1vw 6.527vw;
    border-radius: .25rem;
    border-color: #f04c23;
    background-color: #f04c23;
  }

  .screenshot-text-container a h3:hover, .screenshot-text-container-alt a h3:hover {
    background-color: #FF5125;
  }

  .screenshot-text-container a h3:active, .screenshot-text-container-alt a h3:active {
    background-color: #D6441F;
  }

  .screenshot-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 8%;
    padding-left: 15%;
  }

  .screenshot-text-container-alt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 8%;
  }

  .descriptor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem;
    padding: 1.11vw 0vw;
  }

  .descriptor img {
    height: 25px;
    height: 1.736vw;
    width: 25px;
    width: 1.736vw;
    margin-right: .5rem;
    margin-right: .55vw;
  }

  .descriptor h1 {
    font-size: 1.5rem;
    font-size: 1.66vw;
    color: #30383a;
  }

  .screenshot-container {
    width: 50%;
    height: auto;
  }

  .screenshot-container img {
    width: 100%;
    height: 100%;
  }

  /* FOOTER */
  .footer-background {
    background-image: url(../../resources/assets/backgrounds/footer.png);
    background-size: 100% 100%;
    height: 2000px;
    height: 138.88vw;
    width: 100%;
    margin-top: 100px;
    margin-top: 6.94vw;
    /* margin-top: -103rem; */
  }

  .first-footer-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: -3rem;
    margin-top: -3.33vw;
    margin-bottom: 6.25rem;
    margin-bottom: 6.94vw;
  }

  .footer-image {
    width: 50%;
    height: 100%;
    margin-left: 6rem;
    margin-left: 6.66vw;
    margin-top: -6.994vw;
  }

  .footer-image img {
    width: 100%;
    height: auto;
  }

  .footer-text {
    display: flex;
    justify-content: center;
    width: 50%;
    color: white;
    flex-direction: column;
  }

  .footer-text h1 {
    font-weight: bold;
    font-size: 3rem;
    font-size: 3.33vw;
    text-align: left;
    margin-top: 16.375rem;
    margin-top: 17vw;
    margin-bottom: 1rem;
    margin-bottom: 1.11vw;
    margin-left: 5.625rem;
    margin-left: 6.25vw;
  }

  .footer-text h2 {
    font-size: 32px;
    font-size: 2.22vw;
    text-align: left;
    width: 502px;
    width: 34.861vw;
    line-height: 44px;
    line-height: 3.055vw;
    margin-left: 90px;
    margin-left: 6.25vw;
    margin-bottom: 32px;
    margin-bottom: 2.22vw;
  }

  .footer-text h3 {
    font-size: 22px;
    font-size: 1.527vw;
    text-align: left;
    line-height: 44px;
    line-height: 3.055vw;
    margin-left: 90px;
    margin-left: 6.25vw;
  }

  .footer-logos {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 7.5rem;
    margin-bottom: 8.33vw;
  }

  .footer-logos img {
    width: 200px;
    width: 13.88vw;
  }

  /* PRICING CARD */
  .pricing-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 780px;
    height: 54.166vw;
    width: 820px;
    width: 56.94vw;
    margin: 0 auto;
    z-index: 2;
    position: relative;
    border-radius: .75rem;
    box-shadow: 10px 10px 26px rgba(12, 32, 61, 0.15);
    box-shadow: .694vw .694vw 1.805vw rgba(12, 32, 61, 0.15);
  }

  .pricing-card h1 {
    padding: 3.472vw 0 2.77vw 0;
    width: 820px;
    width: 56.944vw;
    margin: 0 auto;
    color: #01435c;
    font-weight: bold;
    font-size: 48px;
    font-size: 3.33vw;
    text-align: center;
  }

  #line {
    width: 620px;
    width: 43.055vw;
    margin: 0 auto;
    border: 1px solid #9b9b9b4a;
  }

  /* PLATFORM FEE */
  .platform-fee {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    margin: 2.77vw auto;
    width: 478px;
    width: 33.194vw;
  }

  .platform-fee h2 {
    text-align: center;
    font-size: 24px;
    font-size: 1.66vw;
    justify-content: center;
    color: #30383a8a;
  }

  /* CSS FOR PUTTING CHECKS NEXT TO TEXT */
  .check-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-top: 1.38vw;
  }

  .check-text img {
    height: 30px;
    height: 2.083vw;
  }

  .check-text h2 {
    text-align: left;
    color: #30383a;
    padding-left: 14px;
    padding-left: 0.972vw;
    width: auto;
  }

  .card-button {
    display: flex;
    flex-direction: column;
    margin: 40px auto 0px auto;
    margin: 2.77vw auto 0 auto;
    width: 460px;
    width: 31.944vw;
  }

  .card-button a h2 {
    text-align: center;
    padding: 17px 15px;
    padding: 1.1805vw 1.0416vw;
    border-radius: 4px;
    border-radius: .277vw;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    background-image: linear-gradient(44deg, #f04c23, #f2b031);
    /* margin-bottom: 24px; */
  }

  .card-button a h2:hover {
    background-image: linear-gradient(44deg, #fd5025, #FFB93C);
  }

  .card-button a h2:active {
    background-image: linear-gradient(44deg, #D6441F, #D89D2C);
  }

  .pricing-card .learn-more-card {
    margin: 0px auto;
    padding-top: 20px;
    padding-top: 1.38vw;
  }

  .learn-more-card a {
    text-align: center;
    color: #f2704c;
    font-size: 14px;
    font-size: .972vw;
    margin: 0px auto 40px auto;
    margin: 0 auto 2.77vw auto;
  }

  /* ADDITIONAL SERVICES SECTION OF PRICING CARD */
  .additional-service {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    margin: 2.77vw auto;
    width: 478px;
    width: 33.194vw;
  }

  .additional-service h2 {
    text-align: center;
    font-size: 24px;
    font-size: 1.66vw;
    justify-content: center;
    color: #30383a8a;
  }

  #card-text {
    text-align: left;
    color: #30383a;
    padding-left: 14px;
    padding-left: .972vw;
    width: auto;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* FOOTER NAV */
  .footer-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5rem;
    margin-top: 5.55vw;
    padding-bottom: 6rem;
    padding-bottom: 6.66vw;
  }

  .column {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .column h3 {
    font-size: 1rem;
    font-size: 1.11vw;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-bottom: .55vw;
  }

  .column h4 {
    padding: .75rem 0;
    padding: .833vw 0;
  }

  .column h4 a {
    font-size: 1rem;
    font-size: 1.11vw;
    letter-spacing: .0472vw;
    font-weight: bold;
    color: #30383a;
  }

  .column h4 a:hover {
    color: #6F8286;
  }

  #bidrocket {
    color: #f04c23;
  }

  #support {
    color: #f2b031;
  }

  #company {
    color: #078587;
  }

  #community {
    color: #50b99f;
  }

  /* SOCIAL MEDIA SECTION OF FOOTER */
  #line-2 {
    border: .5px solid #dadada;
    width: 100%;
    margin: 0px;
  }

  .footer-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 82px;
    height: 5.694vw;
    width: 100%;
  }

  .bidrocket-logo-footer {
    width: 156px;
    width: 10.833vw;
  }

  .bidrocket-logo-footer img {
    width: 100%;
  }

  .security-section {
    display: flex;
  }

  .security-section p {
    padding: 0px 15px;
    padding: 0 1.0416vw;
    font-size: 10px;
    font-size: .694vw;
    color: #01435c;
  }

  .social-media-icons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-media-icons a img {
    height: 35px;
    height: 2.4305vw;
    padding: 0px 5px;
    padding: 0 .3472vw;
  }
}

/* MOBILE SITE */
@media only screen and (max-width: 420px) {
  #line-2, .hero-image, .features-grid, .bidrocket-screen, .footer-background, .footer-nav, .line-2, .footer-social-media {
    display: none;
  }

  /* MOBILE NAVIGATION */
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
    height: 10.47610vw;
    width: 100%;
    background-color: #042a36;
  }

  .mobile-nav a {
    width: 6.25rem;
    width: 23.8095vw;
    padding-left: 5%
  }

  .bidrocket-nav-logo {
    width: 6.25rem;
    width: 23.8095vw;
  }

  .menu {
    height: 14px;
    height: 3.33vw;
    margin-right: 8%;
  }

  /* HERO SECTION */
  .mobile-hero {
    background: url(../assets/mobile-assets/header-stars@2x.png) no-repeat center;
    background-size: contain;
    background-position: top;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .hero-text-mobile {
    margin: 25px auto;
    margin: 5.952vw auto
    width: 70%;
  }

  .hero-text-mobile h1 {
    font-size: 36px;
    font-size: 8.57vw;
    font-family: proxima-nova;
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .hero-text-mobile h1 span {
    color: #f04c23;
  }

  .hero-image-mobile {
    width: 87%;
    height: auto;
    margin: 0 auto;
  }

  .hero-image-mobile img {
    width: 100%;
  }
}
